body {
  background: #F3F5FC;
  color: #0A3871;
}

input {
  color: #0A3871;
  width: 577px;
  height: 48px;
  left: 240px;
  top: 168px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  border:#F3F5FC;
  background: #F3F5FC;
}

::placeholder {
  color: #0A3871;
  opacity: 1;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 680px;
  height: 67px;
  top: 820px;
}

#btn-encript {
  height: 80px;
  width: 340px;
  border-radius: 24px;
  padding: 24px;
  background-color: #0A3871;
  color: white;
  font-size: 27px;
}

#btn-desencript, #copiar{
  padding: 24px;
  width: 340px;
  height: 80px;
  font-size: 27px;
  background: #D8DFE8;
  border: 1px solid #0A3871;
  border-radius: 24px;
}

.container {
  display: flex ;
  justify-content: space-between;

}
/*
#munieco {
  position: absolute;
  width: 336px;
  height: 304px;
  top: 130px;
  left: 45px;
}

#logo {
  position: absolute;
  height: 48px;
  left: 40px;
  top: 40px;
}

#condicion {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 229px;
  height: 18px;
  left: 275px;
  top: 770px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;


  flex: none;
  order: 1;
  flex-grow: 0;
}

.fa-solid {
  position: absolute;
  height: 18px;
  left: 251px;
  top: 782px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;


  flex: none;
  order: 1;
  flex-grow: 0;
}

#smallframe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 336px;
  height: 122px;
  left: 50px;
  top: 490px;
}

#ningun-mensaje {
  position: relative;
  width: 336px;
  height: 58px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 120%;

  text-align: center;


  color: #343A40;



  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#ingresa-texto {
  width: 336px;
  height: 48px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  text-align: center;


  color: #495057;

}

input:focus{
  outline: none;
}

#copiar {
  position: absolute;
  height: 80px;
  width: 340px;
  left: 60px;
  top: 743px;
}

.rectangle {
  position: relative;
  height: 850px;
  top: 70px;
  background-color: white;
  box-shadow: 0px 24px 32px -8px rgb(0 0 0 / 8%);
  border-radius: 32px;
}
